
// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

body {
  margin: 0;
  padding: 0;
  @extend .text-primary;
  @extend .bg-dark;
}

button {
  width: 100%;
}

#containerImg {
  position: relative;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#mainImg  {
  width: 100%;
  height: auto;
}

#noImg {
  padding: 100px 0px;
}

#timestamp {
  top: 10px;
  left: 10px;
  position: absolute;
}

.container {
  padding: 30px;
}